parameters:
	tmpDir: ./build/cache/phpstan
	level: max
	paths:
		- ./src
		- ./tests
	excludePaths:
		- ./vendor
		- ./tests/Fixtures
	ignoreErrors:
		- '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
